
.target {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.clear {
	width: 0;
	height: 0;
	clear: both;
}
#palette {
	clear: left;
	background-color: #666;
	padding: 20px;
}
#dessin {
	clear: left;
	background-color: #666;
	margin-bottom: 20px;
	padding: 20px;
}
.red { background-color: #f00; }
.green { background-color: #0f0; }
.blue { background-color: #00f; }
.yellow { background-color: #ff0; }
.magenta { background-color: #f0f; }
.cyan { background-color: #0ff; }
.white { background-color: #fff; }
.black{ background-color: #000; }

