[submodule "libs/jcalculator"]
	path = libs/jcalculator
	url = https://github.com/balajmarius/jcalculator
[submodule "assets"]
	path = assets
	url = git@bitbucket.org:glenux/marp-assets.git
[submodule "ext/marp-assets"]
	path = ext/marp-assets
	url = git@bitbucket.org:glenux/marp-assets.git
