- @title = "Javascript & JQuery"
- @chapter = "Introduction à Javascript"

%section
	%h2 À propos de Javascript
	%section
		%h3 Demo

	%section
		%h3 Coté client

		%p Navigateurs web

	%section
		%h3 Coté serveur

		%p Node.JS

		%p PhantomJS

	%section
		%h3 Historique


%section
	%h2 Premiers pas

	%section
		%h3 La syntaxe

	%section
		%h3 Boites de dialogue

	%section
		%h3 Console log
	
	%section
		%h3 Placer le code dans la page

	%section
		%h3 Quelques aides

	%section 
		%h3 Coté asynchrone


%section
	%h2 Variables

	%section
		%h2 Operateurs arithmétiques

	%section
		%h3 Concaténation

	%section
		%h3 Conversion des types


%section
	%h2 Conditions

	%section
		%h2 Booléens

	%section
		%h3 If - Else

	%section
		%h3 Switch

	%section
		%h3 Ternaires

	%section
		%h3 Conditions et variables


%section
	%h2 Boucles

	%section
		%h3 Définition

	%section
		%h3 Incrémentation

	%section
		%h3 While

	%section
		%h3 Do - While

	%section
		%h3 For


%section
	%h2 Fonctions

	%section
		%h3 Définition et idée

	%section
		/ FIXME
		%h3 Concevoir des fonctions

	%section
		%h3 Portée des variables

	%section
		%h3 Arguments

	%section
		%h3 Valeurs de retour

	%section
		%h3 Fonctions anonymes


%section
	%h2 Objets

	%section
		%h3 Définition

	%section
		%h3 Usage

	%section
		/ FIXME
		%h3 Objets littéraux

	%section
		/ FIXME
		%h3 Déclaration


%section
	%h2 Tableaux

	%section
		%h3 Parcourir un tableau
	
	%section
		%h3 Manipulation d'un tableau

%section
	%h2 Manipuler le HTML

	%section
		%h3 DOM

	%section
		%h3 Naviguer dans le document

	%section
		%h3 Editer les elements

		%tt innerText

		%tt textContent

	%section
		%h3 Vérifier la présence d'un noeud

		/FIXME

	%section
		%h3 Créer des noeuds

		/FIXME

	%section
		%h3 Insérer des noeuds

		%tt .insertBefore()

		%tt .insertAfter()

		/FIXME

	%section
		%h3 Cloner

	%section
		%h3 Remplacer

	%section
		%h3 Supprimer
	
	%section
		%h3 Notions sur les références



%section
	%h2 CSS et selecteurs



%section
	%h2 Cadres applicatifs (framework)

	%section
		%h3 Prototype

	%section
		%h3 Mootools

	%section
		%h3 Scriptaculous

	%section
		%h3 JQuery



%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/releases/stable/installmanual"} Debian squeeze - Installation Guide
			%li
				%a{:href => "http://www.debian.org/releases/stable/i386/"} Manuel de référence Debian pour i386
			%li
				%a{:href => "http://formation-debian.via.ecp.fr/"} Formation Debian GNU/Linux
			%li
				%a{:href => "http://distrowatch.com/"} Distrowatch
	%section
		%h3 Des questions ?
	%section
		%h3 Merci !

