- @title = "Javascript et JQuery"
- @chapter = "Introduction à Javascript"
%section
	%h2 À propos de Javascript
	%section
		%h3 Demo

		%p toto

	%section
		%h3 Coté client

		%p Navigateurs web

	%section
		%h3 Coté serveur

		%p Node.JS

		%p PhantomJS

	%section
		%h3 Historique


%section
	%h2 Bonnes pratiques

	%section
		%h3 Console log
	

	%section
		%h3 Quelques aides

		%p Inspector (Firefox / Chrome)

	%section 
		%h3 Coté asynchrone


%section
	%h2 Optimiser son code

	%section
		%h3 Javascript non intrusif

		%p Eviter les scripts autres que ceux de chargement
	
	%section
		%h3 Accélerer le chargement

		%p Chargement les bibliotheques en fin de page


%section
	%h2 Manipuler le HTML

	%section
		%h3 DOM
	
	%section
		%h3 Manipuler un élément

		%p
			%tt document.getElementById( name )

	%section
		%h3 Naviguer dans le document

		%p 
			%tt Node.childNodes
			%br
			%small => Array

		%p 
			%tt Node.childNodes.length
			%br
			%small pratique pour vérifier le contenu
		

	%section
		%h3 Editer les elements

		%p 
			%tt Node.innerText

		%p
			%tt Node.textContent

	%section
		%h3 Vérifier la présence d'un noeud

		/FIXME

	%section
		%h3 Créer des noeuds

		/FIXME

	%section
		%h3 Insérer des noeuds

		%p
			%tt Node.insertBefore()

		%p
			%tt Node.insertAfter()

		/FIXME

	%section
		%h3 Cloner

	%section
		%h3 Remplacer

	%section
		%h3 Supprimer
	
	%section
		%h3 Notions sur les références


%section
	%h2 Cadre applicatif

	%section
		%h3 Définition

		%p
			%em (= Framework)

		%ul
			%li Ensemble cohérent de fonctions
			%li Faciliter le travail
			%li Evite de réinventer la roue

	%section
		%h3 Pourquoi en utiliser ?

		%img{ :src => "img/jobgraph.png" }
		%p
			%small Permet de trouver du travail !

	%section
		%h3 Pourquoi ne pas en utiliser ?

		%ul
			%li Comprendre ce qui se passe
			%li 
				Répondre à un 
				%em objectif précis
			%li 
				Passer moins de temps à 
				%em adapter le fonctionnement
			%li 
				Ne pas charger une bibliothèque 
				%em pour une seule fonction utile&nbsp;!

	%section
		%h3 Quelques possibilités
		
		%ul
			%li Dojo Toolkit
			%li Prototype
			%li Mootools
			%li Script.aculo.us
			%li Ext.JS
			%li 
				%b JQuery

	%section
		%h3 JQuery

		%ul
			%li GPL/MIT
			%li Le plus léger (55.9 KB)
			%li La plus populaire !
			%li Autant utilitaire que graphique
			%li Avec de nombreux plugins !


%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{ :href => "http://matthiasschuetz.com/javascript-framework-matrix/en/" }
					JavaScript Framework Matrix
			%li
				%a{ :href => "FIXME" } 
					Dojo Toolkit
			%li
				%a{ :href => "FIXME" } 
					Script.aculo.us
			%li
				%a{ :href => "FIXME" } 
					Mootools
			%li
				%a{ :href => "FIXME" } 
					Prototype
			%li
				%a{ :href => "http://www.sencha.com/products/extjs/" }
					ExtJS
	%section
		%h3 Des questions ?
	%section
		%h3 Merci !

