- @title = "Javascript & JQuery"
- @chapter = "Introduction à Javascript"

%section
	%h2 À propos de Javascript
	%section
		%h3 Demo

	%section
		%h3 Coté client

		%p Navigateurs web

	%section
		%h3 Coté serveur

		%p Node.JS

		%p PhantomJS

	%section
		%h3 Historique


%section
	%h2 Bonnes pratiques Javascript

	%section
		%h3 Console log
	

	%section
		%h3 Quelques aides

		%p Inspector (Firefox / Chrome)

	%section 
		%h3 Coté asynchrone


%section
	%h2 Optimiser son code

	%section
		%h3 Javascript non intrusif

		%p Eviter les scripts autres que ceux de chargement
	
	%section
		%h3 Accélerer le chargement

		%p Placer les chargement de (grosses) bibliotheques en fin de page



%section
	%h2 Manipuler le HTML

	%section
		%h3 DOM

	%section
		%h3 Naviguer dans le document

	%section
		%h3 Editer les elements

		%tt innerText

		%tt textContent

	%section
		%h3 Vérifier la présence d'un noeud

		/FIXME

	%section
		%h3 Créer des noeuds

		/FIXME

	%section
		%h3 Insérer des noeuds

		%tt .insertBefore()

		%tt .insertAfter()

		/FIXME

	%section
		%h3 Cloner

	%section
		%h3 Remplacer

	%section
		%h3 Supprimer
	
	%section
		%h3 Notions sur les références


%section
	%h2 Cadres applicatifs (framework)

	%section
		%h3 Prototype

	%section
		%h3 Mootools

	%section
		%h3 Scriptaculous

	%section
		%h3 JQuery



%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/releases/stable/installmanual"} Debian squeeze - Installation Guide
			%li
				%a{:href => "http://www.debian.org/releases/stable/i386/"} Manuel de référence Debian pour i386
			%li
				%a{:href => "http://formation-debian.via.ecp.fr/"} Formation Debian GNU/Linux
			%li
				%a{:href => "http://distrowatch.com/"} Distrowatch
	%section
		%h3 Des questions ?
	%section
		%h3 Merci !

