%section{"data-state" => "title"}
	%h1 Administration GNU/Linux
	%h3.inverted Usage du shell

	%br
	%br

	%p 2012-05

	%br
	%br

	%i
		%small
			%a{:href => "http://www.gnuside.com"} Gnuside
			\/
			%a{:href => "http://twitter.com/gnuside"} @gnuside

%section
	%h2 Vue d'ensemble

	%section
		%h3 Idée générale

		%p Format d'une commande : action &rarr; objet-de-l'action

		%p
			%b
				commande
				%em [parametres optionnels]
				%em parametres obligatoires


	%section
		%h3 Trouver de la documentation
		%ul
			%li
				%b
					man
					%em commande
			/ option -K de man pour rechercher les pages de man qui contiennet un mot clef donné
			%li
				%b
					info
					%em commande
			%li
				%b
					whatis
					%em commande
		%p
			%small
				(en remplaçant
				%em commande
				par le nom de l'application	sur laquelle vous cherchez des informations)
		%pre
			%code.bash
				:preserve
					$ whatis bash
					bash (1)						 - Interpréteur de commandes GNU Bourne-Again SHell

%section
	%h2 Fichiers et répertoires

	%section
		%h3 Se situer
		%p
			%b pwd
		%pre
			%code
				:preserve
					$ pwd

	%section
		%h3 Se déplacer
		%p
			Aller dans un dossier :
			%b 
				cd
				%em
					destination
		%pre
			%code
				:preserve
					$ cd nouveau_repertoire
					$ cd www/logs
		%p Les chemins relatifs
		%pre
			%code
				:preserve
					$ cd ..
					$ cd ../documents
		%p Les chemins absolus
		%pre
			%code
				:preserve
					$ cd /home/batman/documents
					$ cd /usr/share/doc

	%section
		%h3 Lister les fichiers d'un répertoire
		%p
			La commande
			%b ls
		%pre
			%code
				:preserve
					$ ls
		%pre
			%code
				:preserve
					$ ls -la
					$ ls -ld SomeDir
					$ ls -R SomeDir

	%section
		%h3 Créer un fichier ou un répertoire
		%p
			Créer un fichier vide :
			%b touch
		%pre
			%code.bash $ touch EmptyFile
		%p
			Créer un répertoire :
			%b mkdir
		%pre
			%code.bash $ mkdir nouveauRepertoire

		%p 
			et l'option
			%b -p
			crée les répertoires intermédiaires

		%pre
			%code.bash $ mkdir -p nouveauRepertoire/etSousRepertoire/etSousSousRépertoire

	%section
		%h3 Supprimer un fichier ou un répertoire
		%pre
			%code.bash
				:preserve
					$ rm fichierVide
		%pre
			%code.bash
				:preserve
					$ rm -r nouveauDossier
		%p
			%b Attention : pas de confirmation sans le paramètre -i
		%pre
			%code.bash
				:preserve
					$ rm -ir nouveauDossier

	%section
		%h3 Copier un fichier ou un répertoire
		%pre
			%code.shell
				:preserve
					$ cp fichierQuelconque nouveauFichier
					$ cp Image.jpg ~/www/images/

	%section
		%h3 Déplacer un fichier ou un répertoire
		%pre
			%code
				:preserve
					$ mv fichierQuelconque fichierDestination
					$ mv fichierQuelconque ~/documents/
					$ mv repertoireQuelconque ~/documents/

	%section
		%h3 Permissions
		%pre
			%code
				:preserve
					$ ls -l *.txt
					-rw-------	1 batman	batteam	0 Mar 28 12:45 fichierPrivé.txt
					-rw-rw-r--	1 batgirl batteam	0 Mar 28 12:47 fichierPublic.txt
		%p
			Changer les permissions :
			%b chmod
		%pre
			%code.bash
				:preserve
					$ chmod g+r fichierPrivé.txt
		%p
			Changer le propriétaire :
			%b chown
		%pre
			%code.bash
				:preserve
					$ chown batman:batteam privateBatcaveFile.txt
		%p
			Changer le groupe :
			%b chgroup
		%pre
			%code.bash
				:preserve
					$ chgrp batteam PrivateBatCaveFile.txt

	%section
		%h3 Quelques astuces
		%p Attention aux espaces !
		%pre
			%code
				:preserve
					$ cd "nouveau repertoire avec des espaces"
					$ cd nouveau\ repertoire\ avec\ des\ espaces
		%p
			Revenir dans
			%em $HOME
		%pre
			%code
				:preserve
					$ cd
		%p Fichiers commençant par un tiret (-)
		%pre
			%code.bash
				:preserve
					$ rm \-StupidFile

%section

	%section
		%h2 Contenu des fichiers

	%section
		%h3 Afficher le contenu d'un fichier
		%p En entier
		%pre
			%code $ cat ~/ToDo.txt
		%p ... seulement son début
		%pre
			%code.bash
				:preserve
					$ head ~/www/logs/access
					$ head -n 20 -f ~/www/logs/error
		%p ... ou seulement sa fin
		%pre
			%code.bash
				:preserve
					$ tail ~/www/logs/access
					$ tail -n 20 ~/www/logs/access
					$ tail -f ~/www/logs/error

	%section
		%h3 Rechercher des fichiers
		%p
			La commande
			%b grep
		%pre
			%code
				:preserve
					$ grep 'Catwoman' ~/realVillains.txt
					$ grep -r 'Catwoman' ~/villains/
					$ egrep '(Catwoman|Poison Ivy)' ~/recentCrimes.txt
																	%p
			La commande
			%b find
		%pre
			%code
				:preserve
					
					$ find ~/documents/ -name \*.html
					$ find ~/www/ -name \*.html -or -name \*.txt -exec grep -H {} \;
																%section
		%h2 Liens
		%p
			Liens symboliques :
			%b ln
		%pre
			%code.bash
				:preserve
					$ ln -s monFichier lienVersMonFichier
					$ ln -s monRepertoire lienVersMonRepertoire
		%p
			Liens durs :
			%b ln
			(encore)
		%pre
			%code.bash
				:preserve
					$ ln MyFile LinkToMyFile
		/ FIXME: expliquer la différence, les inodes, etc ?


%section
	%h2 Fin

	%section
		%h3 Références
		%p
			%a{:href => "http://csoft.net/docs/course.html.en"} Référence shell (csoft)

	%section
		%h3 Des questions ?

	%section
		%h3 Merci !

