- @title = "Javascript et JQuery"
- @chapter = "Évènements"

%section
	%h2 Notions

	%section
		%h3 Définitions

		%p 
			%b Event handlers 
			\= méthodes appelées 
			%br 
			lorsque "quelque chose" se produit
		%p
			%small 
				(aka 
				%em trigger
				, 
				%em fire
				, etc.)

	%section
		%h3 Sources possibles

		%ul
			%li touche du clavier
			%li clic ou déplacement souris
			%li chargement d'une page
			%li envoi d'une requête
			%li appui de doigts sur un touchscreen

	%section
		%h3 Exemples

		%p
			%tt .ready( function )
			ou
			%tt .click( function )

		/FIXME: code

		/FIXME: demo


%section
	%h2 Création d'évenements et déclancheurs

%section
	%h2 Fonctions d'évenement prédéfinies

%section
	%h2 Evenements dynamiques


%section
	%h2 Fin

	%section
		%h3 Références
		%ul
			%li
				%a(href="http://www.learnjquery.org/newsletter/Tutorial-3-jquery-events.html") 
					LearnJQuery : understanding jQuery events

	%section
		%h3 Des questions ?

	%section
		%h3 Merci !

