%section{"data-state" => "title"}
	%h1 Administration GNU/Linux
	%h3.inverted Monitoring
	%br
	%br
	%p 2012-05
	%br
	%br
	%i
		%small
			%a{:href => "http://www.gnuside.com"} Gnuside
			\/
			%a{:href => "http://twitter.com/gnuside"} @gnuside

%section
	%h2 Monitoring
	%p paf

%section
	%h2 Gestion des performances
	paf

%section
	%h2 Ressources à surveiller

	%section
		%h3 CPU

		%h3 Mémoire

		%h3 Utilisateurs

		%h3 Systèmes de fichier

%section
	%h2 Espace disque et quotas

%section
	%h2 Outils de monitoring

%section
	%h2 Les traces

%section
	%h2 Audit du système (quelle méthode, quels usages?)

%section
	%h2 Acquisition, centralisation et rotation des logs


%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{ :href => "http://kernel.org/" } The Linux Kernel Archives
			%li
				%a{ :href => "http://doc.ubuntu-fr.org/tutoriel/compiler_linux" } Ubuntu-fr : Compiler son kernel

	%section
		%h3 Des questions ?

	%section
		%h3 Merci !


