%section{"data-state" => "title"}
	%h1 Administration GNU/Linux
	%h3.inverted
		Réseau
		%br>
		(OpenSUSE)
	%br
		%br
			%p 2012-05
			%br
				%br
					%i
						%small
							%a{:href => "http://www.gnuside.com"} Gnuside
							\/
							%a{:href => "http://twitter.com/gnuside"} @gnuside

%section
	%h2 Le réseau

	%ul
		%li Soit dans YaST
		%li 
			Soit dans  
			%tt /etc/

%section
	%h2 Interfaces réseau sous Linux

	

/ DHCP / Static / etc.
/ Default routing ?
/ Cas du Wifi
/ /etc/init.d/network restart
/ /etc/sysconfig/network/ifcfg-*

/ ip address show [interface]
/ ip route show 
/ ifconfig eth0 [interface]
/ rcmachin restart
/ /etc/udev/rules.d/70-persistant-net.rules

%section
	%h2 Principes de configuration clients

%section
	%h2 Configuration des clients

%section 
	%h2 La sécurité au niveau du réseau

%section
	%h2 Super-serveur Xinetd, atouts et principes

%section
	%h2 Netfilter : filtrage de paquets

	%section
		%h2 Utilisation d'iptables


%section
	%h2 Fin

	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://en.opensuse.org/openSUSE:Testing"} OpenSUSE - The development cycle
			%li
				%a{:href => "http://en.opensuse.org/Package_repositories"} OpenSUSE - Package repositories
			%li
				%a{:href => "http://nakedape.cc/wiki/PackageManagerCheatsheet"} PackageManagerCheatsheet
			%li
				%a{:href => "http://lilypond.org/blog/jan/openSUSE-HOWTO"}
					OpenSUSE
					10.3 survival guide

	%section
		%h3 Questions ?

	%section
		%h3 Merci !

