
* {
	font-family: 'Syncopate', sans-serif;
}

div {
	margin: 0;
	padding: 0;
}


.fullscreen {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
	min-width: 600px;
	min-height: 400px;

	background-image: linear-gradient(bottom, rgb(0,0,0) 22%, rgb(0,145,158) 98%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 22%, rgb(0,145,158) 98%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 22%, rgb(0,145,158) 98%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 22%, rgb(0,145,158) 98%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 22%, rgb(0,145,158) 98%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, rgb(0,0,0)),
		color-stop(0.98, rgb(0,145,158))
	);
}

.backscreen {
	visibility: hidden;
	display: none;
}

.frontscreen {
	display: block;
	visibility: visible;
}

section#play {
	overflow: hidden;
}

div#play-ball {
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	top: 50%;
	left: 50;
	background-color: yellow;
}

div#play-racket {
	position: absolute;
	display: block;
	width: 10em;
	height: 1em;
	margin-left: -5em;
	bottom: 4em;
	left: 50%;
	background-color: red;
	font-weight: bold;
	font-size: 1em;
	text-align: center;

	border-radius: 0.5em;
	box-shadow: 0em 0.2em 0.2em white;
}

div#play-score {
	display: block;
	position: absolute;
	font-size: 2em;
	bottom: 0px;
	right: 0px;
	color: #888;
	margin: 0.5em;
}

div#play-score .counter {
	color: white;
}

div#play-lives {
	display: block;
	position: absolute;
	font-size: 2em;
	bottom: 0px;
	left: 0px;
	color: #888;
	margin: 0.5em;
}

div#play-lives .counter {
	color: white;
}

