
body {
	min-height: 400px;
}

nav {
	background-color: #888;
}

nav ul {
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul li span {
	display: block;
	padding: 10px;
}

nav ul li ul {
	background-color: #888;
	display: none;
	position: absolute;
	padding: 10px;
}

nav ul li ul li {
	display: block;
	list-style-type: none;
}
