
// define colors 
$colorBlue: #2c2f4f;
$colorMagenta: #e92c59;
$primaryColor:   $colorMagenta;
$secondaryColor: lighten($colorBlue, 20%);


.slide_wrapper {
    .slide:first-child {
        // background-color: $secondaryColor;
    }
    
    .slide:nth-child(2) {
        // background-color: $primaryColor;
    }
    
    .slide {
        color: #111111;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        
        // align-items: flex-start !important;
        
        & > .slide_inner {
            margin-top: 70px;
            // outline: 5px solid red;
            // height: 400px;
        }
    }

    .slide_footer {
        color: red;
    }

    .slide_page { 
        color: red ; //!important;
        // outline: 1px solid red;
        display: block;
    }
}

.markdown-body {
    h2, h3 { 
        color: $secondaryColor;
        /*
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center !important;
        align-items: flex-start !important;
        
        height: 100px;
        color: white; 
        background-color: $secondaryColor;
        padding: 29px;
        margin-bottom: 70px;
        */
    }
    
    h4 {
        color: $primaryColor;
    }
    
    h1 { 
        // padding-left: 100%;
        // overflow: hidden;
        font-size: 105% !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;

        &::before {
        	// outline: 1px solid red;
        	display: block;
        	content: "";
        	// color: transparent !important;
        	min-height: 190px;
        	background-image: url(logo.png);
        	background-repeat: no-repeat;
        	background-size: 600px auto;
        	background-position: center left;
        	margin-bottom: 60px;
        }
    }
    
    h1 ~ h3  { 
        color: $primaryColor;
        font-size: 200% !important;
        margin: 0px !important;

        /*
        	align-items: center !important;
        	background-color: none;
        	text-align: center; 
        	font-size: 2.35em !important;
        	color: white;
        	
        	line-height: 1;
        	font-weight: bold; 
        	margin: 0;
        	padding: 0;
        */
    }
    
    h2 tt { 
        /*
        color: white; 
        background-color: orange; 
        font-style: italic; 
        font-size: 60%; 
        padding: 0.125em 0.25em; 
        vertical-align: middle; 
        float: right; 
        top: 0.25em; 
        font-family: inherit; 
        */
    }
    
}


