- @title = "Titre de presentation"
- @chapter = "Titre du chapitre"
%section
	%h2 A propos de ce chapitre
	%section
		%h3 Subslide 1

		%p something

	%section
		%h3 Subslide 2

		%p something else

%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/releases/stable/installmanual"} Debian squeeze - Installation Guide
			%li
				%a{:href => "http://www.debian.org/releases/stable/i386/"} Manuel de référence Debian pour i386
			%li
				%a{:href => "http://formation-debian.via.ecp.fr/"} Formation Debian GNU/Linux
			%li
				%a{:href => "http://distrowatch.com/"} Distrowatch
	%section
		%h3 Des questions ?
	%section
		%h3 Merci !

