- @title = "Javascript & JQuery"
- @chapter = "Introduction à Javascript"
// vim: set ts=2 sw=2 noet:

%section{"data-state" => "title"}
	%h2 Introduction à l'algorithmique
	%h3.inverted Avec le langage Javascript

	%br
	%br

	%p 2013-02

	%br
	%br

	%i
		%small
			%a{:href => "http://www.gnuside.com"} Gnuside
			\/
			%a{:href => "http://twitter.com/gnuside"} @gnuside

%section
	%section
		%h2 Algo-quoi ?
	
	%section
		%h3 Objectif

		%p 
			Obtenir de la machine qu'elle effectue un travail à notre
			place

	%section
		%h3 Problème

		%p Expliquer à la machine comment elle doit s'y prendre ?
		%br

		%p
			%em Mais.. comment le lui dire
		%p
			%em Comment le lui apprendre ?
		%p
			%em Comment s'assurer qu'elle fait ce travail aussi bien que nous ?
		%p
			%em Mieux que nous ?

	%section
		%h3 Thèmes abordés dans ce cours

		%ul
			%li Apprentissage d'un langage
			%li Notions de base
			%li Structures de données
			%li Résolution de problemes complexes

	%section
		%h3 Vous en avez déjà fait ...

		%p Briques de LEGO &rarr; Caserne de pompiers
		%p Planches &amp; vis  &rarr; Étagères BILLY
		%p Ingrédients &rarr; Forêt noire

%section
	%section
		%h2 Structure du langage

	%section
		%h3 Les instructions

	%section
		%h3 Les espaces

	%section
		%h3 Indentation et présentation

	%section
		%h3 Commentaires

%section
	%section
		%h3 La syntaxe

	%section
		%h3 Boites de dialogue

	%section
		%h3 Console log
	
	%section
		%h3 Placer le code dans la page

	%section
		%h3 Quelques aides

	%section 
		%h3 Coté asynchrone


%section
	%section
		%h2 Variables

	%section
		%h2 Operateurs arithmétiques

	%section
		%h3 Concaténation

	%section
		%h3 Conversion des types


%section
	%section
		%h2 Conditions

	%section
		%h2 Booléens

	%section
		%h3 If - Else

	%section
		%h3 Switch

	%section
		%h3 Ternaires

	%section
		%h3 Conditions et variables


%section
	%section
		%h2 Boucles

	%section
		%h3 Définition

	%section
		%h3 Incrémentation

	%section
		%h3 While

	%section
		%h3 Do - While

	%section
		%h3 For


%section
	%section
		%h2 Fonctions

	%section
		%h3 Définition et idée

	%section
		/ FIXME
		%h3 Concevoir des fonctions

	%section
		%h3 Portée des variables

	%section
		%h3 Arguments

	%section
		%h3 Valeurs de retour

	%section
		%h3 Fonctions anonymes


%section
	%section
		%h2 Objets

	%section
		%h3 Définition

	%section
		%h3 Usage

	%section
		/ FIXME
		%h3 Objets littéraux

	%section
		/ FIXME
		%h3 Déclaration


%section
	%section
		%h2 Tableaux

	%section
		%h3 Parcourir un tableau
	
	%section
		%h3 Manipulation d'un tableau



//%section
//	%h2 CSS et selecteurs


%section
	%section
		%h2 Fin

	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/releases/stable/installmanual"} Debian squeeze - Installation Guide
			%li
				%a{:href => "http://www.debian.org/releases/stable/i386/"} Manuel de référence Debian pour i386
			%li
				%a{:href => "http://formation-debian.via.ecp.fr/"} Formation Debian GNU/Linux
			%li
				%a{:href => "http://distrowatch.com/"} Distrowatch

	%section
		%h3 Des questions ?

