- @title = "Javascript et JQuery"
- @chapter = "Manipulations HTML et CSS"

%section
  %section
	  %h2 Texte et contenu

	%section#get-text
		%h3 Récupérer le contenu
		%p
			%tt .html()
			et
			%tt .text()

		%pre
			%code.javascript
				:preserve
					alert($("#get-text p:first").html());
			/

		%pre
			%code.javascript
				:preserve
					alert($("#get-text p:first").text());
			/

	%section
		%h3 Changer du contenu

		%p
			%tt .html(content)
			et 
			%tt .text(content)
			%br
			Changent le contenu (innerHTML) des éléments sélectionnés

		%pre
			%code.javascript
				:preserve
					$("#change-content").html("Hello brother, i'm here as html !");
			/

		%pre
			%code.javascript
				:preserve
					$("#change-content").text("Hello brother, i'm here as text !");
			/

		%blockquote#change-content
			Ô brother, where art thou ?

	%section
		%h3 Ajouter du contenu dedans
		%p
			%tt .prepend(content);
			%br
			%tt .append(content);
			%br
			Ajoute du contenu avant ou après celui de l'element sélectionnés

		%pre
			%code.javascript
				:preserve
					$("#add-content-inside")
						.prepend("Ô rage ! ")
						.append(" Ô vieillesse ennemie !")
			/
		%blockquote#add-content-inside
			Ô désespoir !


	%section
		%h3 Ajouter du contenu autour

		%p
			%tt .before(content);
			%br
			%tt .after(content);
			%br
			Ajoute du contenu avant ou après l'élément sélectionné

		%pre
			%code.javascript
				:escaped
					$("#add-content-after")
						.before("<p>Hamlet (Act 3 scene 1)</p>")
						.after("<small>by Shakespeare</small>");
			/

		%blockquote#add-content-after
			&dash; To be or not to be, that is the question...
	
%section
	%h2 Noeuds DOM

	%section
		%h3 Créer des noeuds

		%p
			%tt $('your html code here');

		%br
		%pre
			%code.javascript
				:escaped
					$("<p>Something to add somewhere</p>")
			/code

	%section
		%h3#clone-node Cloner des noeuds

		%p
			%tt .clone()

		%br
		%pre
			%code.javascript
				:escaped
					$("h3#clone-node").clone();
			/code


	%section
		%h3 Insérer des noeuds
		%p
			%tt .insertBefore()
			,
			%tt .insertAfter()
			%br
			et
			%tt .appendTo(selector)

		%pre
			%code.javascript
				:escaped
					$('<em>Deus dixit :</em>').insertBefore('#insert-nodes');
					$('<span>Et lux facta est.</span>').appendTo('#insert-nodes');
			/

		%blockquote#insert-nodes
			Lux fact !

	%section
		%h3 
			Supprimer des noeuds 
			%br/
			(ou presque)

		%p
			%tt .empty()
			,
			%tt .remove()
			et 
			%tt .detach()

		%pre
			%code.javascript
				:preserve
					$('#suppress-demo').empty();
					$('#suppress-demo').detach().insertAfter('#suppress-demo-prev');
					$('#suppress-demo').remove();
			/

		#suppress-demo-prev

		%blockquote#suppress-demo
			In the beginning was the Word

	%section
		%h3 Remplacer des noeuds

		%p
			%tt .replaceWith( newcontent )
			%br
			ou
			%tt .replaceWith( function )

		%pre
			%code.javascript
				:escaped
					$('#replace-demo button').click(function(){
						$(this).replaceWith( "<div>" + $(this).text() + "</div>" );
					});
			/
		
		#replace-demo
			%button First
			%button Second
			%button Third

	%section
		%h3 Attributs

		%p
			%tt .prop( propertyName )
			%br
			%tt .attr( attrName, [value] )
			%br
			%tt .removeAttr( attrName )

		/ FIXME: demo ?


%section
	%h2 Propriétés CSS

	%section
		%h3 Récupérer les propriétés

		%p
			%tt .css( name )
			%br
			Retourne la valeur actuelle
			%br
			de la propriété 
			%em name
			sélectionnée

		%br
		%pre
			%code.javascript
				:escaped
					var result = $("#css-get-style").css('color');
					alert(result);
			/

		%blockquote(style="color:red;" id="css-get-style")
			À vaincre sans péril, on triomphe sans gloire
	
	%section
		%h3 Changer une propriété

		%p
			%tt .css( name, value )
			%br
			Change la valeur de la propriété 
			%em name
			à la valeur
			%em value

		%br
		%pre
			%code.javascript
				:escaped
					$("#css-change-property").css('color','red');
			/

		%blockquote#css-change-property
			Va, je ne te hais point.

	%section
		%h3 Changer plusieurs propriétés

		%p
			%tt .css({properties})
			%br
			Change plusieurs propriétés CSS en même temps

		%br
		%pre
			%code.javascript
				:escaped
					$("#css-change-properties").css({
						'color' :'red',
						'background-color': 'black'
					});
			/

		%blockquote
			Rodrigue, as-tu du 
			%span#css-change-properties coeur 
			?

	%section
		%h3 Les classes

		%p
			%tt .addClass()
			,
			%tt .removeClass()
			%br
			et
			%tt .toggleClass()

		/ FIXME demo


%section
	%h2 Tailles &amp; et positions

	%section
		%h3 Changer les dimensions

		%p
			%tt .height([size])
			%br
			%tt .width([size])
			%br
			Retourne ou change les dimensions de l'objet

		%br
		.column-right
			%img(src="img/enlargeyourpeniche.png" width="50" height="50" id="css-change-dimensions")

		%div.column-left
			%pre
				%code.javascript
					:preserve
						$('#css-change-dimensions')
						.width('300px')
						.height('300px');
				/

			%pre
				%code.javascript
					:preserve
						$('#css-change-dimensions')
						.width('50px')
						.height('50px');
				/


	%section
		%h3 Position

		%p
			%tt .position()
			et 
			%tt .offset( value )

		%p 
			Relatifs (respectivement) à l'élément parent ou au document

		%p 
			Possèdent les attributs 
			%tt .top
			et
			%tt .left

		%pre
			%code.javascript
				:preserve
					$('#css-position-demo').click(function(){
						var offset = $(this).offset();
						$(this).offset( { 
							top: offset.top, 
							left: ( offset.left + 200 ) % $(document).width() 
						});
					});
			/

		%button#css-position-demo
			Click me !



%section
	%h2 Fin

	%section
		%h3 Références
		%ul
			%li
				%a(href="http://api.jquery.com/") JQuery API

	%section
		%h3 Des questions ?

	%section
		%h3 Merci !

