- @title = "Javascript et JQuery"
- @chapter = "Ajax"

%section
	%section
		%h2 AJAX

	%section
		%h3 Définition
		
		%p 
			%b Asynchronous JavaScript And XML

		%ul
			%li ni une technologie
			%li ni un langage
			%li plutôt un concept

		%br
		%br
		%p 
			%b ... mais XML tend à être replacé par JSON


	%section
		%h3 Historique

		%p AJAX existait avant ajax...

		%ul
			%li 
				%tt &lt;script src='script.js'&gt;
			%li
				\...
			%li 
				jusqu'à 
				%tt XMLHttpRequest
				%br
				%small (issu à l'origine d'un ActiveX pour MSIE)
	
	%section
		%h3 Site traditionnel

		%ol
			%li Requête unique sur un serveur
			%li 
				Chargement du résultat et des fichiers liés
				%br
				(img, css, scripts, frames)
			%li Changement de page (retour à [1])

	%section
		%h3 Site avec AJAX

		%ol
			%li Requête unique sur un serveur
			%li 
				Chargement du résultat et des fichiers liés
				%br
				(img, css, scripts, frames)
			%li Interraction avec la page (et modification de la page)
			%li Nouvelles requêtes sur un ou des serveurs
			%li 
				Modification de la page en fonction des données reçues
				%br
				(retour probable à [2])
			%li Changement de page (retour à [1])


%section
	%section
		%h2 Requêtes AJAX

	%section
		%h3 Rappels sur HTTP

		%ul
			%li HEAD
			%li GET
			%li POST
			%li PUT
			%li DELETE
			%li ...

	%section
		%h3 Types de réponses

		%ul
			%li Texte simple
			%li HTML
			%li XML
			%li JSON

	%section
		%h3 Réponse texte

		%ul
			%li simple...
			%li pas adapté pour des données formatées

	%section
		%h3 Réponse HTML

		%pre
			%code.html
				:escaped
					<ul>
						<li><span title="a4242">Gordon</span></li>
						<li><span title="j3781">Barney</span></li>
						<li><span title="j7638">Eli</span></li>
						<li><span title="o7836">Chell</span></li>
						<li><span title="e5831">Odessa</span></li>
					</ul>
			/

	%section
		%h3 Réponse XML

		%pre
			%code.javascript
				:preserve
					<friends>
						<f name="Gordon" id="a4242" />
						<f name="Barney" id="j3781" />
						<f name="Eli" id="j7638" />
						<f name="Chell" id="o7836" />
						<f name="Odessa" id="e5831" />
					</friends>
			/

	%section 
		%h3 Réponse JSON

		%pre
			%code.javascript
				:preserve
					[
						{ "name":"Gordon", "id":"a4242" },
						{ "name":"Barney", "id":"j3781" },
						{ "name":"Eli", "id":"j7638" },
						{ "name":"Chell", "id":"o7836" },
						{ "name":"Odessa", "id":"e5831" }
					]
			/

	%section
		%h3 Rappels sur l'asynchronisme

%section
	%section
		%h2 Utiliser AJAX

	%section
		%h3 XMLHTTPRequest

		%pre
			%code.javascript
				:preserve
					var xhr = new XMLHttpRequest();
			/

	%section
		%h3 Dans la vraie vie
		
		%pre
			%code.javascript
				:preserve
					var xhr = null;
						
					if (window.XMLHttpRequest || window.ActiveXObject) {
						if (window.ActiveXObject) {
							try {
								xhr = new ActiveXObject("Msxml2.XMLHTTP");
							} catch(e) {
								xhr = new ActiveXObject("Microsoft.XMLHTTP");
							}
						} else {
							xhr = new XMLHttpRequest(); 
						}
					} else {
						alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
						return;
					}
			/

	%section
		%h3 Requetes

		%p
			%tt xhr.open(sMethod, sUrl, bAsync)

	%section
		%h3 Headers
	
		%p
			%tt xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


	%section
		%h3 Requete GET

		%pre
			%code.javascript
				:preserve
					xhr.open("GET", "handlingData.php?variable1=truc&variable2=bidule", true);
					xhr.send(null);
			/


	%section
		%h3 Requete POST

		%pre
			%code.javascript
				:preserve
					xhr.open("POST", "handlingData.php", true);
					xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
					xhr.send("variable1=truc&variable2=bidule");
			/

	%section
		%h3 Protection des données

		%p
			%tt encodeURIComponent("contenu avec des espaces");

	%section
		%h3 Récupération des données

		%p 
			%tt xhr.responseText
			ou 
			%tt xhr.responseXML

		%pre
			%code.javascript
				:preserve
					xhr.onreadystatechange = function() {
							if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
									alert(xhr.responseText); // Données textuelles récupérées
							}
					};
			/

	/ http://www.siteduzero.com/tutoriel-3-100294-l-objet-xmlhttprequest.html
	/ Alternatives : DOMImplementation (mais pas sous Chrome / Safari / seulement en GET )

	%section
		%h3 Restrictions

		%blockquote
			Permission denied to call method XMLHttpRequest.open

		%p Solutions
		%ul
			%li Cross-origin resource sharing
			%li Proxy (mod_proxy dans apache, script de redirection)

%section
	%section
		%h2 Utiliser AJAX et JQuery

/FIXME

%section
	%h2 Fin

	%section
		%h3 Références
		%ul
			%li
				%a(href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol")
					Wikipedia : Hypertext Transfer Protocol
			%li
				%a(href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing")
					Wikipedia : Cross-origin resource sharing
			%li
				%a(href="http://en.wikipedia.org/wiki/Same_origin_policy")
					Wikipedia : Same origin policy
			%li
				%a(href="http://www.ghidinelli.com/2008/12/27/how-to-bypass-cross-domain-restrictions-when-developing-ajax-applications")
					How to bypass cross-domain restrictions when developing AJAX applications

	%section
		%h3 Des questions ?

	%section
		%h3 Merci !

